.profileLink {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
  transition: background-color 0.2s;
}

.profileLink:hover {
  background-color: #4a5568;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
